*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:  cursive, sans-serif;
}
.App{
  display: flex;
  justify-content: center;
  align-items: center;
 height: 100vh;
 background: linear-gradient(80deg, blue, purple,pink);
}
